{% extends "base.html" %}
{% from "components/macros.html" import partner_card %}

{% block title %}Partners - CSSci Program{% endblock %}

{% block content %}
<section class="partners-section">
    <h1>Our Partners and Projects</h1>
    
    <div class="partner-list">
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 1",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 2",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 3",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 4",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 5",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 6",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 7",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 8",
            "Short description and link to their website",
            "#"
        ) }}
        
        {{ partner_card(
            url_for('static', filename='images/partners/img1.jpg'),
            "Partner 9",
            "Short description and link to their website",
            "#"
        ) }}
    </div>
</section>

<section class="challenges-section">
    <h2>Past Challenges</h2>
    
    <div class="challenge-container">
        <div class="challenge-content">
            <h3><a href="#" target="_blank">Master Challenge</a></h3>
            <p>Our Master Challenge software helps partners and students come together based on project pitches</p>
        </div>
        
        <div class="challenge-image">
            <img src="{{ url_for('static', filename='images/partners/img1.jpg') }}" alt="Challenge Image">
        </div>
    </div>
</section>
{% endblock %} 